
/*carusol*/
.carousel-caption{
text-align: justify;  
}
.std{
    margin-left: 10px;
}
/* Create four equal columns that sits next to each other */
.event {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .event img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .event {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .event {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
  /*Student Gallary*/
  /*menu*/
  .navbar {
  
  }
  .navbar ul{
    padding: 0;
    margin: 0;
  }
  .navbar ul li{
  display: inline-block;
  }
  .navbar ul li a{
    display: block;
    padding: 15px 20px;
    text-transform: uppercase;
  }
  .navbar ul li a:hover{
   background-color: #0EC8F0;
  
  }
  .text-white{
text-decoration: none;
  }
  .text-white a:hover{
    background-color: #181f20;
  } 